<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DrugstoreLibrary.Properties.Settings._1gb_aptekaConnectionString"
            connectionString="Data Source=mssql4.1gb.ua;Initial Catalog=1gb_apteka;User ID=1gb_sudak-pravda;Password=b6aed88b"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>